#blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article{
    margin: 15px;
}

#blog table{
    
}

#imagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#imagenes article {
    margin: 15px;
}

#imagenes img {
    margin: 15px;
    
}

#info .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#info {
    background-color: #B0C4DE;
}

#info article {
    margin: 10px;
}

